<!-- <div class="container my-5 pb-5 mb-5 d-flex flex-column gap-4">
  <strong>Product Information</strong>

  <div class="form-group">
    <label for="productName">Enter Product name</label>
    <input
      type="text"
      class="form-control"
      id="productName"
      placeholder="Placeholder"
      [(ngModel)]="data.title"
    />
  </div>

  <div class="form-group">
    <label for="productDescription">Enter Product Description</label>
    <input
      type="text"
      class="form-control"
      id="productDescription"
      placeholder="Placeholder"
      [(ngModel)]="data.description"
    />
  </div>

  <div class="form-group">
    <label for="quantity">Enter Quantity</label>
    <input
      type="number"
      class="form-control"
      id="quantity"
      placeholder="Placeholder"
      [(ngModel)]="data.quantity"
    />
  </div>

  <div class="form-group">
    <label for="price">Enter Price</label>
    <input
      type="number"
      class="form-control"
      id="price"
      placeholder="Placeholder"
      [(ngModel)]="data.price"
    />
  </div>

  <div class="form-group">
    <label for="discount">Enter Discount Percentage</label>
    <input
      type="number"
      class="form-control"
      id="discount"
      placeholder="Placeholder"
      [(ngModel)]="data.discount"
    />
  </div>

  <div class="form-group">
    <label for="userImage">This product accept user image?</label>
    <select class="form-control" id="userImage" [(ngModel)]="data.userImage">
      <option
        *ngFor="
          let print of [
            { is: true, value: 'Yes' },
            { is: false, value: 'No' }
          ]
        "
        [value]="print.is"
      >
        {{ print.value }}
      </option>
    </select>
  </div>

  <strong>Add Product images</strong>

  <div>
    <img *ngIf="showUpdate" style="max-height: 200px" [src]="data.image" />

    <label for="image"> Image </label>
    <input
      type="file"
      class="form-control-file w-100 mt-1"
      id="image"
      (change)="addThub($event)"
    />
  </div>

  <div class="form-group my-3">
    <label for="print">Enter Category</label>
    <select class="form-control" id="print" [(ngModel)]="data.category">
      <option *ngFor="let print of categories" [value]="print._id">
        {{ print.categoryName }}
      </option>
    </select>
  </div>

  <strong>Additional Information</strong>
  <div class="">
    <div
      *ngFor="let info of data.additionalInfo; let i = index"
      class="d-flex justify-content-between gap-4"
    >
      <div class="form-group w-100 my-3">
        <label for="infoTitle{{ i }}">Enter Info</label>
        <input
          type="text"
          class="form-control"
          id="infoTitle{{ i }}"
          placeholder="Placeholder"
          [(ngModel)]="data.additionalInfo[i].title"
        />
      </div>

      <div class="form-group w-100 my-3">
        <label for="infoDescription{{ i }}">Enter Description</label>
        <input
          type="text"
          class="form-control"
          id="infoDescription{{ i }}"
          placeholder="Placeholder"
          [(ngModel)]="data.additionalInfo[i].description"
        />
      </div>
    </div>

    <button
      class="btn btn-primary w-100 my-3"
      (click)="data.additionalInfo.push({ title: '', description: '' })"
    >
      Add Info
    </button>
  </div>

  <strong>Available Size</strong>
  <div class="">
    <div
      *ngFor="let info of data.availablePrintSize; let i = index"
      class="d-flex justify-content-between gap-4"
    >
      <div class="form-group w-100">
        <label for="width{{ i }}">Enter Width</label>
        <input
          type="number"
          class="form-control"
          id="width{{ i }}"
          placeholder="Placeholder"
          [(ngModel)]="data.availablePrintSize[i].width"
        />
      </div>

      <div class="form-group w-100">
        <label for="height{{ i }}">Enter Height</label>
        <input
          type="number"
          class="form-control"
          id="height{{ i }}"
          placeholder="Placeholder"
          [(ngModel)]="data.availablePrintSize[i].height"
        />
      </div>
    </div>
    <button
      class="btn btn-primary w-100 my-3"
      (click)="data.availablePrintSize.push({ width: 0, height: 1 })"
    >
      Add Size
    </button>
  </div>

  <strong>Available Print Type</strong>

  <div class="">
    <ng-container
      *ngFor="
        let print of data.availablePrintType;
        let i = index;
        trackBy: trackByFn
      "
    >
      <div class="form-group my-3">
        <label for="printCategory{{ i }}">Enter Category</label>
        <select
          class="form-control"
          id="printCategory{{ i }}"
          [(ngModel)]="data.availablePrintType[i]"
        >
          <option *ngFor="let print of printType" [value]="print._id">
            {{ print.categoryName }}
          </option>
        </select>
      </div>
    </ng-container>
    <button
      class="btn btn-primary w-100 my-3"
      (click)="data.availablePrintType.push('')"
    >
      Add Print Type
    </button>
  </div>

  <button
    *ngIf="!showUpdate"
    class="btn btn-primary w-100 my-4"
    (click)="submit()"
  >
    Submit
  </button>
  <ng-container *ngIf="showUpdate">
    <button class="btn btn-primary w-100 my-4" (click)="update()">
      Update
    </button>
    <button class="btn btn-primary w-100 my-1" (click)="close()">Close</button>
  </ng-container>
</div> -->

<div class="content">
  <h4>Add Product</h4>
  <div class="content-data">
    <div class="content-form" id="addProductForm">
      <div class="form-group">
        <label>Enter Product name:</label>
        <input
          type="text"
          id="productName"
          placeholder="Placeholder"
          class="form-control"
          [(ngModel)]="data.title"
        />
      </div>
      <div class="form-group">
        <label>Enter Product Description:</label>
        <input
          type="text"
          id="productDescription"
          placeholder="Placeholder"
          class="form-control"
          [(ngModel)]="data.description"
        />
      </div>
      <div class="form-group">
        <label>Enter Quantity:</label>
        <input
          type="number"
          id="quantity"
          placeholder="Placeholder"
          class="form-control"
          [(ngModel)]="data.quantity"
        />
      </div>
      <div class="form-group">
        <label>Enter Price:</label>
        <input
          type="number"
          id="price"
          placeholder="Placeholder"
          class="form-control"
          [(ngModel)]="data.price"
        />
      </div>
      <div class="form-group">
        <label>Enter Discount Percentage:</label>
        <input
          type="number"
          id="discount"
          placeholder="Placeholder"
          class="form-control"
          [(ngModel)]="data.discount"
        />
      </div>
      <div class="form-group">
        <label>This product accept user image?</label>
        <select
          class="form-control"
          id="userImage"
          [(ngModel)]="data.userImage"
        >
          <option
            *ngFor="
              let print of [
                { is: true, value: 'Yes' },
                { is: false, value: 'No' }
              ]
            "
            [value]="print.is"
          >
            {{ print.value }}
          </option>
        </select>
      </div>
      <strong>Add Product images</strong>

      <div class="form-group">
        <img *ngIf="showUpdate" style="max-height: 200px" [src]="data.image" />

        <label for="image"> Image </label>
        <input
          type="file"
          class="form-control-file w-100 mt-1"
          id="image"
          (change)="addThub($event)"
        />
      </div>

      <br />
      <br />
      <strong>Additional Information</strong>
      <div class="">
        <div
          *ngFor="let info of data.additionalInfo; let i = index"
          class="d-flex justify-content-between gap-4"
        >
          <div class="form-group w-100 my-3">
            <label for="infoTitle{{ i }}">Enter Info</label>
            <input
              type="text"
              class="form-control"
              id="infoTitle{{ i }}"
              placeholder="Placeholder"
              class="form-control"
              [(ngModel)]="data.additionalInfo[i].title"
            />
          </div>

          <div class="form-group w-100 my-3">
            <label for="infoDescription{{ i }}">Enter Description</label>
            <input
              type="text"
              class="form-control"
              id="infoDescription{{ i }}"
              placeholder="Placeholder"
              class="form-control"
              [(ngModel)]="data.additionalInfo[i].description"
            />
          </div>
        </div>
        <br />

        <button
          class="btns1"
          (click)="data.additionalInfo.push({ title: '', description: '' })"
        >
          Add Info
        </button>
      </div>

      <br />
      <br />
      <strong>Available Size</strong>
      <div class="">
        <div
          *ngFor="let info of data.availablePrintSize; let i = index"
          class="d-flex justify-content-between gap-4"
        >
          <div class="form-group w-100">
            <label for="width{{ i }}">Enter Width</label>
            <input
              type="number"
              class="form-control"
              id="width{{ i }}"
              placeholder="Placeholder"
              [(ngModel)]="data.availablePrintSize[i].width"
            />
          </div>

          <div class="form-group w-100">
            <label for="height{{ i }}">Enter Height</label>
            <input
              type="number"
              class="form-control"
              id="height{{ i }}"
              placeholder="Placeholder"
              [(ngModel)]="data.availablePrintSize[i].height"
            />
          </div>
        </div>
        <br />

        <button
          class="btns1"
          (click)="data.availablePrintSize.push({ width: 0, height: 1 })"
        >
          Add Size
        </button>
      </div>

      <br />
      <br />
      <strong>Available Print Type</strong>
      <div class="">
        <ng-container
          *ngFor="
            let print of data.availablePrintType;
            let i = index;
            trackBy: trackByFn
          "
        >
          <div class="form-group my-3">
            <label for="printCategory{{ i }}">Select Print Type</label>
            <select
              class="form-control"
              id="printCategory{{ i }}"
              [(ngModel)]="data.availablePrintType[i]"
            >
              <option *ngFor="let print of printType" [value]="print._id">
                {{ print.categoryName }}
              </option>
            </select>
          </div>
        </ng-container>
        <button class="btns1" (click)="data.availablePrintType.push('')">
          Add Print Type
        </button>
      </div>
      <br />
      <br />
      <button *ngIf="!showUpdate" class="btns" (click)="submit()">
        Submit
      </button>
      <ng-container *ngIf="showUpdate">
        <button class="btns" (click)="update()">Update</button>
        <button class="btns" (click)="close()">Close</button>
      </ng-container>

      <!-- <button class="w-100 mb-3" onclick="addSize()">Add Size</button> -->
    </div>
  </div>

  <h4>Products</h4>

  <table class="table text-center">
    <thead class="">
      <th>S.NO</th>
      <th>product Id</th>
      <th>product name</th>
      <th>price</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ product._id }}</td>
        <td class="btn-link pointer">
          {{ product.title }}
        </td>
        <td>{{ product.amount }}</td>
        <td>
          <a (click)="edit(product)"
            ><i class="bi bi-pencil-square px-4 text-success pointer"></i
          ></a>
          <a (click)="deleteProduct(product._id)"
            ><i class="bi bi-trash px-4 text-danger pointer"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
