<input type="file" (change)="handleFileInput($event)" accept="image/*" />
<div
  id="canvas-container"
  (mouseenter)="hoverHandler(true)"
  (mouseleave)="hoverHandler(false)"
>
  <canvas
    #canvas1
    id="canvas1"
    width="400px"
    height="600px"
    [style.zIndex]="zIndexCanvas1"
    [style.backgroundColor]="'transparent'"
    (mousedown)="mouseDownHandler($event)"
    (mousemove)="mouseMoveHandler($event)"
    (mouseup)="mouseUpHandler($event)"
  >
    Sorry, your browser doesn't support canvas technology.
  </canvas>
  <canvas
    #canvas2
    id="canvas2"
    width="400"
    height="600"
    [style.zIndex]="zIndexCanvas2"
    [style.marginTop.px]="-600"
  >
    Sorry, your browser doesn't support canvas technology.
  </canvas>
</div>
