/* .canvas-container {
  position: relative;
  top: 0%;
}

.upper-canvas {
  position: absolute;
  top: 0;
  z-index: 1;
}

.lower-canvas {
  position: absolute;
  top: 0;
  z-index: 0;
} */
/* 
#canvas-container:hover #canvas2 {
  z-index: 5;
} */

#canvas-container {
  position: relative;
}

canvas {
  position: absolute;
  top: 20px;
  left: 20;
}
