<!-- <div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div><img [src]="data.image" class="w-100" alt="" srcset="" /></div>
    </div>

    <div class="col-lg-6">
      <h2>{{ data.title }}</h2>
      <p>{{ data.description }}</p>
      <p>{{ data.category }}</p>

      <h3 class="my-3">
        {{ data.amount }}
        <span class="text-decoration-line-through"> {{ data.price }}</span> ({{
          data.discount
        }}% off)
      </h3>
    </div>
  </div>
  <div class="row">
    <div *ngIf="data.userImage" class="mb-3 col-lg-12">
      <label for="formFile" class="form-label">Upload Image</label>
      <input
        class="form-control"
        type="file"
        id="formFile"
        (change)="addFile($event)"
      />
    </div>
    <div class="col-md-6">
      <label for="inputState" class="form-label">Select Print Type:</label>
      <select
        id="inputState"
        class="form-select"
        [(ngModel)]="frameDeatails.printType"
      >
        <option selected>Choose...</option>
        <option
          *ngFor="let print of data.availablePrintType"
          [value]="print.categoryName"
          class=""
        >
          {{ print.categoryName }}
        </option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="inputState1" class="form-label">Select Size</label>
      <select
        id="inputState1"
        class="form-select"
        [(ngModel)]="frameDeatails.size"
      >
        <option selected>Choose...</option>
        <option
          *ngFor="let print of data.availablePrintSize"
          [value]="+print.width + ' x ' + +print.height + ' inche'"
          class=""
        >
          {{ print.width }} x {{ print.height }} inche
        </option>
      </select>
    </div>
    <div class="col-md-12">
      <label for="inputCity" class="form-label">Quantity</label>
      <input
        type="number"
        [max]="data.quantity - 1"
        min="1"
        class="form-control"
        id="inputCity"
        [(ngModel)]="frameDeatails.quantity"
      />
    </div>
    <button (click)="addCart(data._id)" class="my-3 btn btn-primary">
      Add to cart
    </button>
    <button (click)="buyNow(data._id)" class="btn btn-success">Buy Now</button>
  </div>

  <table class="table">
    <tr *ngFor="let info of data.additionalInfo">
      <td>{{ info.title }}</td>
      <td>{{ info.description }}</td>
    </tr>
  </table>

  <strong>Review</strong>

  <ng-container class="mx-5" *ngIf="new_review">
    <div class="d-flex align-items-top">
      <span class="avatar">{{ new_review.charAt(0).toUpperCase() }}</span>
      <p class="mt-2">
        {{ new_review }}
        <app-star-rating (user_rating)="getrating($event)"></app-star-rating>
      </p>
    </div>
    <div class="position-relative mt-0 mx-lg-5">
      <input
        type="text"
        class="form-control pe-5"
        placeholder="Write Your Review.."
        name="review"
        [formControl]="comment"
      />
      <i
        class="bi bi-send-plus-fill text-success absolute"
        (click)="addrating()"
      ></i>
    </div>
  </ng-container>
  <ng-container *ngFor="let review of data.reviews">
    <div class="d-flex align-items-top my-4">
      <span class="avatar">{{
        review.user.username.charAt(0).toUpperCase()
      }}</span>
      <div class="content pt-2">
        <p class="m-0 p-0 fw-medium">{{ review.user.username }}</p>
        <app-star-rating
          [readonly]="true"
          [rating]="review.rating"
        ></app-star-rating>
        <p class="m-0 p-0">
          {{ review.comment }}
        </p>
      </div>
    </div>
    <hr *ngIf="reviews.length > 1" />
  </ng-container>

  <h2>Gifts</h2>

  <div class="row">
    <div *ngFor="let gift of gifts" class="col-lg-3">
      <img [src]="gift.thumbnail" alt="" srcset="" width="150" height="150" />
      <h4>{{ gift.name }}</h4>
      <input
        type="number"
        class="form-control"
        placeholder="quantity"
        min="1"
        [max]="gift.quantity"
        [(ngModel)]="gift.selected_quantity"
      />
      <h5>{{ gift.selected_quantity * gift.price }}</h5>
      <button
        *ngIf="!isGiftSelected(gift._id)"
        (click)="addGift(gift)"
        class="btn btn-primary"
      >
        Add
      </button>
      <button
        *ngIf="isGiftSelected(gift._id)"
        class="btn btn-danger"
        (click)="removeGift(gift)"
      >
        Remove
      </button>
    </div>
  </div>
</div> -->

<main class="main">
  <!--=============== BREADCRUMB ===============-->

  <!--=============== DETAILS ===============-->
  <section class="details section--lg">
    <div class="details__container container grid">
      <div class="details__group">
        <img [src]="data.image" alt="" class="details__img" />
      </div>
      <div class="details__group">
        <h3 class="details__title">{{ data.title }}</h3>
        <!-- <p class="details__brand">Brand: <span>adidas</span></p> -->
        <div class="details__price flex">
          <span class="new__price">${{ data.amount }}</span>
          <span class="old__price">${{ data.price }}</span>
          <span class="save__price">{{ data.discount }}% Off</span>
        </div>
        <a class="form-label" style="color: rgb(57, 57, 57)"> Category: </a>
        <a class="short__description" style="color: rgb(106, 106, 106)">
          {{ data.category.categoryName }}
        </a>
        <br />
        <br />
        <a class="form-label" style="color: rgb(57, 57, 57)"> Description: </a>
        <a class="short__description" style="color: rgb(106, 106, 106)">
          {{ data.description }}
        </a>
        <div *ngIf="data.userImage" class="details__meta">
          <div class="meta__list">
            <label class="form-label" for="customFile">Upload Image:</label>
            <input
              type="file"
              class="form-control"
              id="customFile"
              (change)="addFile($event)"
            />
          </div>
        </div>

        <div style="display: flex; justify-content: space-between">
          <div class="details__meta">
            <div class="meta__list">
              <p class="form-label">Select Print Type:</p>
              <select id="quantitySelect" [(ngModel)]="frameDeatails.printType">
                <option
                  *ngFor="let print of data.availablePrintType"
                  [value]="print.categoryName"
                  class=""
                >
                  {{ print.categoryName }}
                </option>
              </select>
            </div>
          </div>

          <!-- <span class="details__size-title">Size</span> -->
          <div class="details__meta">
            <div class="meta__list">
              <p class="form-label">Size:</p>
              <select id="quantitySelect" [(ngModel)]="frameDeatails.size">
                <option
                  *ngFor="let print of data.availablePrintSize"
                  [value]="+print.width + ' x ' + +print.height + ' inche'"
                  class=""
                >
                  {{ print.width }} x {{ print.height }} inche
                </option>
              </select>
            </div>
          </div>
          <div class="details__meta">
            <div class="meta__list">
              <p class="form-label">Quantity:</p>
              <input
                type="number"
                class="quantity"
                [max]="data.quantity - 1"
                min="1"
                [(ngModel)]="frameDeatails.quantity"
              />
            </div>
          </div>
        </div>

        <div style="display: block; justify-content: space-between">
          <div class="details__action">
            <!-- <input type="number" class="quantity" value="3" /> -->
            <a (click)="addCart(data._id)" class="btns btn--sm">Add To Cart</a>
            <!-- <a href="#" class="details__action-btn">
              <i class="fi fi-rs-heart"></i>
            </a> -->
          </div>

          <div class="details__action">
            <!-- <input type="number" class="quantity" value="3" /> -->
            <a (click)="buyNow(data._id)" class="btns1 btn--sm">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--=============== DETAILS TAB ===============-->
  <section class="details__tab container mb-5">
    <div class="detail__tabs">
      <span class="detail__tab active-tab" data-target="#info">
        Additional Info
      </span>
    </div>
    <div class="details__tabs-content">
      <div class="details__tab-content active-tab" content id="info">
        <table class="info__table">
          <tr *ngFor="let info of data.additionalInfo">
            <th>{{ info.title }}</th>
            <td>{{ info.description }}</td>
          </tr>
        </table>
      </div>
      <!-- <div class="details__tab-content" content id="reviews">
        <div class="reviews__container grid">
          <div class="review__single">
            <div>
              <img src="assets/img/avatar-1.jpg" alt="" class="review__img" />
              <h4 class="review__title">Jacky Chan</h4>
            </div>
            <div class="review__data">
              <div class="review__rating">
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
              </div>
              <p class="review__description">
                Thank you, very fast shipping from Poland only 3days.
              </p>
              <span class="review__date">December 4, 2022 at 3:12 pm</span>
            </div>
          </div>
          <div class="review__single">
            <div>
              <img src="assets/img/avatar-2.jpg" alt="" class="review__img" />
              <h4 class="review__title">Meriem Js</h4>
            </div>
            <div class="review__data">
              <div class="review__rating">
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
              </div>
              <p class="review__description">Great low price and works well</p>
              <span class="review__date">August 23, 2022 at 19:45 pm</span>
            </div>
          </div>
          <div class="review__single">
            <div>
              <img src="assets/img/avatar-3.jpg" alt="" class="review__img" />
              <h4 class="review__title">Moh Benz</h4>
            </div>
            <div class="review__data">
              <div class="review__rating">
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
              </div>
              <p class="review__description">
                Authentic and beautiful, Love these ways more than ever
                expected, They are great earphones.
              </p>
              <span class="review__date">March 2, 2021 at 10:01 am</span>
            </div>
          </div>
        </div>
        <div class="review__form">
          <h4 class="review__form-title">Add a review</h4>
          <div class="rate__product">
            <i class="fi fi-rs-star"></i>
            <i class="fi fi-rs-star"></i>
            <i class="fi fi-rs-star"></i>
            <i class="fi fi-rs-star"></i>
            <i class="fi fi-rs-star"></i>
          </div>
          <form action="" class="form grid">
            <textarea
              class="form__input textarea"
              placeholder="Write Comment"
            ></textarea>
            <div class="form__group grid">
              <input type="text" placeholder="Name" class="form__input" />
              <input type="email" placeholder="Email" class="form__input" />
            </div>
            <div class="form__btn">
              <button class="btn">Submit Review</button>
            </div>
          </form>
        </div>
      </div> -->
    </div>
  </section>

  <section class="products container section--lg">
    <h3 class="section__title"><span>Related</span> Products</h3>
    <div class="new__container swiper">
      <div class="swiper-wrapper">
        <div
          *ngFor="let related of relatedProduct"
          class="product__item swiper-slide"
          data-aos="flip-right"
        >
          <div class="product__banner">
            <a [routerLink]="['/product', related._id]" class="product__images">
              <img [src]="related.image" alt="" class="product__img default" />
              <img
                src="assets/img/product-1-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a
                (click)="addWish(related._id)"
                class="action__btn"
                aria-label="Add to Wishlist"
              >
                <i class="fi fi-rs-heart"></i>
              </a>
            </div>
          </div>
          <div class="product__content">
            <span class="product__category">{{
              related.category.categoryName
            }}</span>
            <a [routerLink]="['/product', related._id]">
              <h3 class="product__title">{{ related.title }}</h3>
            </a>
            <div class="product__price flex">
              <span class="new__price">${{ related.amount }}</span>
              <span class="old__price">${{ related.price }}</span>
              <a
                [routerLink]="['/product', related._id]"
                class="action__btn cart__btn"
                aria-label="Add To Cart"
              >
                <i class="fi fi-rs-shopping-bag-add"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
