<div class="container">
  <table class="table">
    <thead>
      <th>Si.NO</th>
      <th>Date</th>
      <th>Order Id</th>
      <th>User</th>
      <th>Amount</th>
      <th>View</th>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ order.createdAt | date }}</td>
        <td>{{ order.orderId }}</td>
        <td>{{ order.user.username }}</td>
        <td>{{ order.totalAmount }}</td>

        <td>
          <button (click)="nav(order._id)" class="btn1s">View</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
